{% extends 'base.html.twig' %}

{% block error %}{% endblock %}

{% block body %}
    <div class="col-lg-4 box-form">
        <h2>Login</h2>
        <form action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="introduce tú correo">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" class="form-control" placeholder="introduce tú contraseña">
            </div>
            <button type="submit" class="btn-success">Login</button>
        </form>
        {% if error %}
            <p style="color:red;">El user o el password no es correcto</p>
        {% endif %}
    </div>

{% endblock %}