{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-4 box-form">
        <h2>Registro</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}<br>
        <input type="submit" class="btn btn-success" value="Registrate">
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}